h1{
    display: flex;
    justify-content: center;
    margin-right: 100px;
    width: 1em;
    position: relative;
    left: 650px;
    right: 200px;
    bottom: 300px;
    top: 10px; 
}

.image-section{
    display: flex;
    background-position-x: 1000px;
    background-position-y: 1000px;
    width: 80%;
    height: 70vh;
    position: relative;
    left: 250px;
    right: 200px;
    top: 50px;
}

h2{
    position: relative;
    left: 140px;
    bottom: 35px;
    font-size: 30px;
}

.line{
    display: flex;
    position: relative;
    left: 190px;
    bottom: 60px;
}

.p1{
    position: relative;
    left: 50px;
    width: 410px;
    font-weight: 400;
    line-height: 1.2;
    margin: 20px ao 0;ut
}

.box{
    display: flex;
    justify-content:bottom;
    position: relative;
    top: 600px;
    right: 720px;
    width: 700px;
    height: 500px;

}

.p2{
    position: relative;
    top: 100px;
    right: 650px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: 10px;
    
}

.p3{
    position: relative;
    right: 646px;
    top: 90px;
    font-size: 20px;
}

.form-row .input-box {
    width: 90%;
}

.form-row .input-box input[type="text"],
.form-row .input-box select
{
    width: 90%;
    height: 40px;
    padding: 5px 10px;
    border: 2px solid black;
    position: relative;
    right: 646px;
    top: 65px;
}


.form-row .input-box2 {
    width: 90%;
}

.form-row .input-box2 input[type="text"],
.form-row .input-box2 select
{
    width: 90%;
    height: 40px;
    padding: 5px 10px;
    border: 2px solid black;
    position: relative;
    right: 646px;
    top: 30px;
}
.p4{
    position: relative;
    right: 646px;
    top: 60px;
    font-size: 20px;
}

.form-row .input-box3 {
    width: 90%;
}

.form-row .input-box3 input[type="text"],
.form-row .input-box3 select
{
    width: 90%;
    height: 100px;
    padding: 5px 10px;
    border: 2px solid black;
    position: relative;
    right: 646px;
    top: 0px;
}

.p5{
    position: relative;
    right: 646px;
    top: 30px;
    font-size: 20px;
}

.button-section button {
    background: blue;
    padding: 3px 60px;
    border: 1px solid blue;
    border-radius: 5px 5px 5px 5px;
    color: white;
    position: relative;
    right: 218px;
    top: 10px;
}
